.app-toolbar {
  position: fixed;
  top: 0;
  z-index: 50;
}

.app-toolbar-title {
  margin-left: 16px;
}

.app-sidenav-container {
  height: 100vh;
  padding-top: 64px;
}

.app-sidenav {
  width: 256px;
}

.app-content {
  padding: 24px;
}